<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    {% include "chess/shared_links.html" %}
  </head>
  <body>
    {% include "chess/navbar.html" %}
    <br>
    <div class="container">
      <div class = "jumbotron">
    <center><h1>About</h1>
    <h3>This website build in mind to have a fun experience of the people
    while playing different board games with other people or even themselves
  if they are interested.<br><br>

The front end of this website is built in using HTML, CSS and the backend in
build using javescript which was a tedious process to be honest as it took a big chunk of time
build and made tgis website functioning.<br><br>

So enjoy the games website and play to your fullest hope you enjoy!!!</h3>
<center>
</div>
</div>
  </body>
</html>
