<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Dashboard</title>
  {% include "chess/shared_links.html" %}
</head>
<body>
  {% include "chess/navbar.html" %} <br>
  {% if request.user.is_authenticated %}
  <center><h1>!!!Welcome to Games {{ request.user.username }}</h1></center>
  {% endif %}
  <br>
  <div class="row">
    <div class="col-md-6">
      <div class="container-fluid">
        <div class = "jumbotron">
          <div align="center">
            <h2>Chess</h2><br>
            <a class="btn btn-primary" href="/room/">Play Chess</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="container-fluid">
          <div class = "jumbotron">
            <div align="center">
              <h2>Tic Tac Toe</h2><br>
              <a class="btn btn-primary" href="/tic/">Play Tic Tac Toe</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
    </html>
